<div class="top-row ps-2 navbar navbar-dark">
    <div class="container-fluid">
        <div class="hamburger" @onclick="OnToggleClicked" aria-label="Toggle sidebar">
            <span class="menu bi-list-hamburger-menu"></span>
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" title="Home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 
                @if (!(Layout?.IsCollapsed ?? false))
                {
                    <span class="menu-text">Home</span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter" title="Counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
                @if (!(Layout?.IsCollapsed ?? false))
                {
                    <span class="menu-text">Counter</span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather" title="Weather">
                <span class="bi bi-cloud-sun-fill-nav-menu" aria-hidden="true"></span>
                @if (!(Layout?.IsCollapsed ?? false))
                {
                    <span class="menu-text">Weather</span>
                }
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }

    private void OnToggleClicked()
    {
        Layout?.ToggleSidebar();
    }
}